@import "@styles/mixins.scss";

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    width: 48%;

    @include respond-max(sm) {
      width: 100%;
    }
  }

  & > button:first-child {
    @include respond-max(sm) {
      margin-top: 20px;
    }
  }

  @include respond-max(sm) {
    flex-direction: column-reverse;
  }
}
