@import "@styles/mixins.scss";

.input {
  border: 1px solid #e1e3e6;
  background: $c_white;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

  .real-input {
    width: 100%;
    input {
      border: none !important;
      box-shadow: none !important;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .search-button {
    border-left: 1px solid #e1e3e6;
    background: #f8f8f8;
    color: $c_text_primary;
    &:hover {
      background: #eee;
    }
    &:active {
      background: rgb(230, 230, 230);
    }
  }

  .icon-search {
    margin: 10px 15px;
  }

  .icon-close {
    transition: 0.2s ease all;
    fill: #757d8a;
    &:hover {
      fill: #a8acb3;
    }
  }

  .close-button {
    background: transparent;
    position: absolute;
    right: 75px;
    top: 0;
    bottom: 0;
    margin: auto;

    &.empty-input {
      display: none;
    }
  }
}
