.input {
  border: 1px solid #e1e3e6;
  background: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

  input {
    font-size: 18px;
    border: none;
    outline: none;
    width: 100%;
    padding: 12px 0 12px 16px;
  }

  .button {
    background: #f8f8f8;
    border-left: 1px solid #e1e3e6;
  }

  .icon-search {
    margin: 10px 15px;
  }

  .icon-close {
    transition: 0.2s ease all;
    fill: #757d8a;
    &:hover {
      fill: #a8acb3;
    }
  }

  .close-button {
    background: transparent;
    position: absolute;
    right: 60px;
    top: 0;
    bottom: 0;
    margin: auto;

    &.empty-input {
      display: none;
    }
  }
}
