@import "@styles/mixins.scss";

.badge {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: $c_white;
  font-size: 14px;
  text-align: center;
  padding: 2px 0;
  background: linear-gradient(180deg, #08b395 0%, #0c977f 100%);

  @include respond-max(xs) {
    font-size: 12px;
  }
}
