@import "./color-variables.scss";

// ---------- Text Colors ---------- //

$c_text_primary: $c_grey_5;
$c_text_primary_hover: $c_blue_5;

// // ---------- Danger Colors ---------- //

$c_danger: $c_red_5;

// // ---------- Border Colors ---------- //

$c_border_base: $c_blue_2;
$c_border_hover: $c_blue_5;
$c_border_error: $c_red_2;
$c_border_error_hover: $c_red_5;

// // ---------- Background Colors ---------- //

$c_bg_blue: $c_blue_5;
$c_bg_dark_blue: $c_blue_4;
