@import "@styles/mixins.scss";

.register-block {
  padding: 25px;
  background: $c_white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px -2px rgba(27, 46, 94, 0.04);
  text-align: center;

  .title {
    font-size: 24px;
    display: block;
    font-weight: 500;
    @include respond-max(xs) {
      font-size: 22px;
    }
  }

  .description {
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
    font-weight: 400;
    @include respond-max(xs) {
      font-size: 16px;
    }
  }

  .error-message {
    margin-bottom: 30px;
  }

  .button {
    width: 100%;
  }
}
