@import "@styles/mixins.scss";

.input {
  position: relative;

  .title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    color: $c_text_primary;
  }

  .eye {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
    height: 20px;

    &:hover svg {
      fill: $c_icon_grey_hover;
    }

    svg {
      transition: 0.2s ease all;
      fill: $c_icon_grey;
      width: 25px;
    }
  }

  span {
    color: $c_danger;
    margin: 0;
    font-size: 14px;
    position: absolute;
    bottom: 5px;
    left: 0;
  }

  input {
    border: 1px solid #e1e3e6;
    padding: 12px 10px;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    outline: none;
    transition: 0.1s ease all;

    &.error {
      border: 1px solid $c_border_error_hover;
      box-shadow: 0 0 0 4px $c_border_error;
    }
    &::placeholder {
      color: $c_text_primary;
      transition: 0.1s ease border color;
    }
    &:focus {
      border: 1px solid $c_border_hover;
      box-shadow: 0 0 0 4px $c_border_base;
    }
    &:focus::placeholder {
      color: #a4abb5;
    }
  }
}
