@import "@styles/mixins.scss";

.search {
  position: relative;

  .search-list {
    position: absolute;
    border: 1px solid #e1e3e6;
    background: $c_white;
    border-radius: 8px;
    width: 100%;
    top: calc(100% + 10px);
    z-index: 1;

    & > div > div:last-child {
      align-self: center;
    }

    &.not-found {
      padding: 16px;
      color: $c_text_primary;
      font-size: 18px;

      @include respond-max(xs) {
        font-size: 16px;
      }
    }

    & > div {
      padding: 16px;
      transition: 0.1s ease all;
      cursor: pointer;

      & span {
        transition: 0.1s ease all;
      }

      &:hover {
        & span {
          color: $c_text_primary_hover;
        }

        & svg {
          fill: $c_text_primary_hover;
        }

        & > div:first-child > div {
          background: $c_white;
          border: 2px solid $c_border_hover;
        }

        & > div:last-child > div {
          color: $c_text_primary_hover;
          background: $c_white;
        }
      }
    }

    img {
      width: 50px;
      height: 50px;
    }
  }
}
