@import "@styles/mixins.scss";

.auth-block {
  width: 40%;
  color: $c_text_primary;

  input {
    margin-bottom: 30px;
  }

  @include respond-max(sm) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
