@import "@styles/mixins.scss";

.message {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  &.success {
    color: $c_success;
  }

  &.danger {
    color: $c_danger;
  }

  & p {
    margin: 0;
    margin-left: 5px;
    font-size: 14px;
  }

  &.success svg {
    width: 20px;
    fill: $c_success;
  }

  &.danger svg {
    width: 20px;
    fill: $c_danger;
  }
}
