@import "@styles/mixins.scss";

.change-password {
  .title {
    font-size: 24px;
    font-weight: 600;
    color: $c_text_primary;
    margin: 0;
    @include respond-max(xs) {
      font-size: 22px;
    }
  }

  .description {
    font-size: 18px;
    color: $c_text_primary;
    font-weight: 400;
    margin-bottom: 32px;
    margin-top: 8px;
    @include respond-max(xs) {
      font-size: 16px;
    }
  }

  body & .button {
    margin-top: 0;
  }
}
