@import "@styles/mixins.scss";

.error-message {
  color: $c_danger;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  & p {
    margin: 0;
    margin-left: 5px;
    font-size: 14px;
  }

  svg {
    width: 20px;
    fill: $c_danger;
  }
}
