@import "@styles/mixins.scss";

.flex {
  display: flex;
  width: 100%;
  padding: 0 24px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  @include respond-max(sm) {
    padding: 0 16px 32px 16px;
    flex-direction: column-reverse;
  }
}

.guest {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
