* {
  font-family: "DM Sans";
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  color: #757d8a;
  text-decoration: none;
}

img {
  object-fit: cover;
}

body {
  background: linear-gradient(
    to right bottom,
    #f1f6f9,
    #f1f4f7,
    #f8f1f5,
    #f1f6f9
  );
  min-height: 100vh;
  margin: 0;
}
