@import "@styles/mixins.scss";

.typing {
  background: $c_white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  border-radius: 8px;

  & > div {
    flex-shrink: 0;
    &:last-child {
      display: flex;
      align-items: center;
    }
  }

  .actions {
    display: flex;
    & svg:not(:first-child) {
      margin-left: 19px;
    }
  }

  .input {
    margin: 0 24px;
    border-radius: 8px;
    font-size: 18px;
    flex-grow: 1;
  }

  .button {
    border-radius: 8px;
    margin-left: 20px;
  }
}
