@import "@styles/mixins.scss";

.button {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 10px 20px;
  transition: 0.2s ease all;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  white-space: nowrap;

  @include respond-max(xs) {
    font-size: 14px;
  }

  &.is-loading {
    pointer-events: none;
    .loader {
      opacity: 1;
    }
    span {
      opacity: 0;
    }
  }

  .loader {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
  }

  &.fill {
    background: $c_button_blue;
    color: $c_white;
    &:hover {
      background: $c_button_blue_hover;
    }
  }

  &.ghost {
    background: transparent;
    color: $c_text_primary;
    &:hover {
      background: #eee;
    }
    &:active {
      background: rgb(230, 230, 230);
    }
  }

  &.outline {
    background: $c_white;
    border: 1px solid $c_border_hover;
    color: $c_text_primary_hover;
    .loader circle {
      stroke: $c_bg_blue;
    }
    &:hover {
      border: 1px solid $c_bg_dark_blue;
      color: $c_bg_dark_blue;
      .loader circle {
        stroke: $c_bg_dark_blue;
      }
    }
  }

  &.disabled {
    background: $c_button_disabled;
    color: $c_white;
    cursor: unset;
    &:hover {
      background: $c_button_disabled_hover;
    }
  }

  & svg:first-child {
    margin-right: 10px;
  }

  & svg:last-child {
    margin-left: 10px;
  }

  & svg {
    width: 24px;
    height: 24px;
  }

  &.no-text {
    svg {
      margin: 0;
    }
  }
}
